
<div class="row">
  <div class=" col-md-4  mx-auto">
<div class="card" style="width: 22rem; height: 12rem;  " >
  <div class="pt-4 bg-warning">    <img class="card-img-top" src="img/mobile-phones-banner.jpg" alt="Card image cap">
</div>

  <div class="card-body">

    <h5 class="card-title">login or register if you have no account for free</h5>
    <h6 class="card-subtitle mb-2 text-muted">join us to enjoy our services</h6>
     <a href="/user/login" class="btn btn-warning" class="card-link " >Login</a>
    <a href="/user/register" class="btn btn-warning" class="card-link" >Register</a>
  </div>
</div>
</div>
</div>


